body{
	min-height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background:#a9f2de;
	color: #077759;
	font-family:'calibri', san-serif;
	font-weight:400;
	text-transform: capitalize;
}

button{
	border:none;
}

.container{
	text-align: center;
	padding: 2rem;
	border-radius: 5px;
	background-color: #fff;
	flex: 0 0 80%
}

#quoteBtn{
	border: none;
	color: #fff;
	background: #81d3e8;
	font-size: 1.3rem;
	padding: 0.25rem 0.5rem;
	border-radius: 7px;
	cursor: pointer;
}

#quoteBtn:hover{
	color:#077759;
	border:none;
}

#quoteBtn:active{
	border-color: #52adc4;
	border-style: solid;
	border-width: 2px 0px 0px 2px;
}

#quoteBtn:focus{
	outline: 0;
 /*
    box-shadow: none;
	*/
	
}

blockquote{
	background: #eaf8fc;
	border-left:10px solid #077759;
	margin: 1.5rem;
	padding: 0.5rem;
}

#quoteAuthor{
	color #ffd000;
}


